body {
   color: #FFFFFF;
   /*min-height: 100%;*/
   padding: 3rem 4rem;
   position: absolute; top: 0; left: 0; bottom: 0; right: 0;
   /*height: 100%;*/
}

footer {
   align-items: flex-end;
}

/*
 * Better to use html for background instead of body
 * since it will always be at least the height of the
 * browser window.
 *
*/
html {
   /* TODO: 
    * - Background image stretch to screen border
    * - Load different background image for mobile
    *
   */
   /*background-attachment: scroll;*/
   /*display: flex;*/
   background-size: cover;
   /*height: 100%;*/
   /*background-size: 1440px auto;*/
}

@media (min-width: 100px) and (max-width: 899px) {
   html {
      background: #674BB1 url("../images/bg-mobile.svg") no-repeat;
      background-size: cover;
   }
}

@media (min-width: 900px) {
   html {
      background: #674BB1 url("../images/bg-desktop.svg") no-repeat;
      background-size: cover;
   }
}


h1 {
   font-family: 'Poppins', sans-serif;
   font-weight: 550;
   line-height: 1.75;
}

p {
   font-family: 'Open Sans', sans-serif;
   font-size: 1.1rem;
   line-height: 2;
}


/********************* CLASSES *************************/

.attribution {
   font-size: 11px;
   text-align: center;
}

.attribution a {
   color: hsl(228, 45%, 44%);
}

.btn {
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 35px;
  -webkit-box-shadow: 1px 2px 7px #666666;
  -moz-box-shadow: 1px 2px 7px #666666;
  box-shadow: 1px 2px 7px #666666;
  font-family: 'Poppins', sans-serif;
  color: #674BB1;
  font-size: 1rempx;
  background: #FFFFFF;
  margin: 1.5rem 0 auto 0;
  padding: 20px 65px;
  display: inline-block;
  text-decoration: none;
}

.btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}

.container {
   /*align-items: center;*/
   display: flex;
   flex-wrap: wrap;
   height: 40rem;
   /*justify-content: center;*/
   /*justify-content: space-between*/
}

.fb-logo {

}

.huddle-logo {
   margin-bottom: 5rem;
}

.icon-row {
   align-items: flex-end;
   display: flex;
   justify-content: flex-end;
   /*margin-top: 8rem;*/
}

.landing-h1 {
   width: 25rem;
}

.landing-p {
   width: 32rem;
}

.landing-text {
   flex-grow: 1;
   /*justify-content: center;*/
   margin: 2rem 4rem;
   /*width: 28rem; */
}

.mockup-img {
   width: 53rem;
}

@media (min-width: 100px) and (max-width: 899px) {
   .btn {
      padding: 0.625rem 4.0625rem;
   }

   .landing-text {
      text-align: center;
      /*margin: 0 auto;*/
   }

   .landing-h1 {
      margin: 1rem auto;
   }
   
   .landing-p {
      margin: 0 auto;
   }

   .mockup-img {
      width: auto;
   }
}

.social-logo {
   border: 0.05rem solid white;
   border-radius: 6rem;
   display: flex;
   /*font-size: 7rem;*/
   margin: 0.5rem;
   padding: 0.5rem;
   width: 1rem;
}
